<!--
    File Name: business-edit.ejs
    Student's Name: Kai-Pang Hung
    Student ID: 301207607
    Date: June-19-2022
-->

<div class="container">
  <div class="title">
    <h1><%= title %></h1>
    <hr />
  </div>

  <div style="width: 40%; height: 100%; margin: auto;">
    <form method="POST" id="loginForm" novalidate>
      <div class="form-group mb-2">
        <div class="input-group">
          <input type="text" class="form-control" id="name" name="name" value="<%= businessContacts.Name%>" required>
        </div>

      </div>

      <div class="form-group mb-2">
        <div class="input-group">
          <input type="text" class="form-control" id="number" name="number" value="<%= businessContacts.Number%>" required>
        </div>

      </div>
      <div class="form-group mb-2">
        <div class="input-group">
          <input type="text" class="form-control" id="email" name="email" value="<%= businessContacts.Email%>" required>
        </div>
        <div class="text-end">
          <button id="updateBtn" type="submit" class="btn btn-primary btn-lg">
            <i class="fa-solid fa-check fa-lg"></i> Update</button>
           <a href="/business-contacts/" type="button" class="btn btn-warning btn-lg"
              id="cancelBtn"><i class="fa-solid fa-xmark fa-lg"></i> Cancel</a>
              <!--
              <button id="cancelBtn" type="cancel" class="btn btn-warning btn-lg">
            <i class="fa-solid fa-xmark fa-lg"></i> Cancel</button>-->
            <a href="/business-contacts/business-delete/<%= businessContacts._id %>" type="button"
              id="businessdelete"><i class="fa-solid fa-trash-can fa-lg"></i></a>
        </div>
    </form>
  </div>

</div>